<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  
  <!-- Google Fonts Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

  <!-- Material Symbols Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  <link rel="stylesheet" href="/css/style.css" />

</head>
<body> 
<div class="layout-wrapper">
  <main class="main-container">
  <div class="dashboard-topbar">
    <a href="/users/profile" class="profile-btn" title="Profile">
      <span class="material-symbols-outlined">account_circle</span>
    </a>
  </div>

  <header class="input-container">
    <input class="city-input" placeholder="Search City" type="text">
    <button class="search-btn">
      <span class="material-symbols-outlined">search</span>
    </button>
  </header>

  <section class="weather-info" style="display: none;">
    <div class="location-date-container">
      <div class="location">
        <span class="material-symbols-outlined">location_on</span>
        <h4 class="country-txt">Jakarta</h4>
      </div>
      <h5 class="current-date-txt regular-txt">Wed,07 Aug</h5>
    </div>

    <div class="weather-summary-container">
      <img src="/assets/weather/clouds.svg" class="weather-summary-img">
      <div class="weather-summary-info">
        <h1 class="temp-txt">29 °C</h1>
        <h3 class="condition-txt regular-txt">Clouds</h3>
      </div>
    </div>

    <div class="weather-conditions-grid">
      <div class="condition-item">
        <span class="material-symbols-outlined">water_drop</span>
        <div class="condition-info">
          <h5 class="regular-txt">Humidity</h5>
          <h5 class="humidity-value-txt">55%</h5>
        </div>
      </div>
      <div class="condition-item">
        <span class="material-symbols-outlined">air</span>
        <div class="condition-info">
          <h5 class="regular-txt">Wind Speed</h5>
          <h5 class="wind-value-txt">2 M/s</h5>
        </div>
      </div>
      <div class="condition-item">
        <span class="material-symbols-outlined">wb_sunny</span>
        <div class="condition-info">
          <h5 class="regular-txt">UV Index</h5>
          <h5 class="uv-index-txt">--</h5>
        </div>
      </div>
      <div class="condition-item">
        <span class="material-symbols-outlined">cloud</span>
        <div class="condition-info">
          <h5 class="regular-txt">Precipitation</h5>
          <h5 class="precipitation-txt">--</h5>
        </div>
      </div>
      <div class="condition-item">
        <span class="material-symbols-outlined">light_mode</span>
        <div class="condition-info">
          <h5 class="regular-txt">Sunrise</h5>
          <h5 class="sunrise-txt">--</h5>
        </div>
      </div>
      <div class="condition-item">
        <span class="material-symbols-outlined">dark_mode</span>
        <div class="condition-info">
          <h5 class="regular-txt">Sunset</h5>
          <h5 class="sunset-txt">--</h5>
        </div>
      </div>
    </div>

  </section>

  <section class="search-city section-message">
    <img src="/assets/message/search-city.png">
    <div>
      <h1>Search City</h1>
      <h4 class="regular-txt">Find out the weather conditions of the city</h4>
    </div>
  </section>

  <section class="not-found section-message" style="display: none;">
    <img src="/assets/message/not-found.png">
    <div>
      <h1>Search City</h1>
      <h4 class="regular-txt">Find out the weather conditions of the city</h4>
    </div>
  </section>
  </main>

  <div class="side-containers">
    <div class="forecast-container">
      <div class="forecast-items-container side-forecast">
        
      </div>
    </div>

    <div class="chart-container">
      <canvas class="tempChart"></canvas>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const defaultCityName = "<%= user.defaultCityName ? user.defaultCityName : '' %>";
</script>
<script src="/js/script.js" defer></script>
</body>
</html>
