<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="/assets/logo.png" />

    <!-- Common style -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Style for pages -->
    <% if (typeof page !== 'undefined' && page === 'welcome') { %>
      <link rel="stylesheet" href="/css/welcome.css" />
    <% } else if (typeof page !== 'undefined' && page === 'login' || page === 'register') { %>
      <link rel="stylesheet" href="/css/auth.css" />
    <% } else if (typeof page !== 'undefined' && page === 'dashboard') { %>
      <link rel="stylesheet" href="/css/dashboard.css" />
    <% } else if (typeof page !== 'undefined' && page === 'profile') { %>
      <link rel="stylesheet" href="/css/profile.css" />
    <% } else if (typeof page !== 'undefined' && page === 'admin_dashboard') { %>
      <link rel="stylesheet" href="/css/admin_dashboard.css" />
    <% } else if (typeof page !== 'undefined' && page === 'weather') { %>
      <link rel="stylesheet" href="/css/weather.css" />
    <% } %>

    <title><%= typeof title !== 'undefined' ? title : 'Weather App' %></title>
  </head>
  <body>
    <div class="container"><%- body %></div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
