/* form {
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 20px;
  border-radius: 8px;
} */
 
.card-body {
    padding: 20px;
    border-radius: 12px;
    border: none;
    margin-top: -80px;
    background: linear-gradient(
        to top, 
        rgba(0,0,0,0.15),
        rgba(255,255,255,0.15) 
    );  
}