.layout-wrapper {
  display: flex;
  gap: 30px;
  padding: 80px;
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
body.dashboard-page {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}
.main-container {
    width: 40%;;    
    height: 100%;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0,0,0,0.15),
        rgb(255,255,255,0.15));
    border-radius: 12px;
    padding: 30px;
}

/* Input Container */
.input-container {
    position: relative;
    margin-bottom: 25px;
}
.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0,0,0,0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
} 
.city-input:focus {
    border : 3px solid rgb(0,0,0,0.15);
}
.city-input::placeholder {
    color: rgb(255,255,255,0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}
/* End Input Container */

/* Weather Info */
.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-summary-img {
    width: 170px;
    height: 170px;
}

.weather-summary-info {
    text-align: end;
}

.temp-txt {
    font-size: 75px;
}

.condition-txt {
    font-size: 30px;
    font-weight: 600;
}

.weather-conditions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 70px;
}

.condition-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s background;
}

.condition-item:hover{
    background: rgba(255, 255, 255, 0.15);
}

.condition-item span {
    font-size: 30px;
}

.condition-info h5{
    margin: 0;
    font-weight: 400;
}

.condition-info .humidity-value-txt,
.condition-info .wind-value-txt,
.condition-info .uv-index-txt,
.condition-info .sunrise-txt,
.condition-info .sunset-txt {
    font-size: 18px;
}

.forecast-items-container {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar {
    height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track {
    background: rgb(0,0,0,0.1);
    border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb {
    background: rgb(0,0,0,0.15);
    border-radius: 99px;
}

.forecast-item {
    min-width: 120px;
    background: rgb(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 16px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item:hover {
    background: rgb(255,255,255,0.15);
}

.forecast-item-img {
    width: 45px;
    height: 45px;
}
/* End Weather Info */

/* section: message */
.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}
.section-message img {
    height: 180px;
    width: fit-content;
}

/* end section: message */

/* side container */
.side-containers {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}
.forecast-container {
    flex: 4;
    background: linear-gradient(
        to top, rgba(0, 0, 0, 0.15),
        rgba(255, 255, 255, 0.15));
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}
.chart-container {
    flex: 6;
    background: linear-gradient(
        to top, rgba(0, 0, 0, 0.15),
        rgba(255, 255, 255, 0.15));
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forecast-container::-webkit-scrollbar {
    height: 6px;
}

/* end side container */

.dashboard-topbar {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 10;
}

.profile-btn {
    text-decoration: none;
    color: white;
    background: rgba(0,0,0,0.2);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background;
    outline: none;
}
.profile-btn:hover {
    background: rgba(255,255,255,0.2);
    outline: none;
    text-decoration: none;
}

.logout-btn {
    position: fixed;
    top: 20px;
    left: 30px;      /* Profil butonunun yanına hizala */
    z-index: 1000;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s background;
    width: 42px;     /* Profil butonu ile aynı boy */
    height: 42px;
    outline: none;
    border: none;
    cursor: pointer;
}

.logout-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    outline: none;
}
